<!-- <div class="container-fluid">
<h2>Registration Form</h2>

<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
  <label>firstName</label>
  <input formControlName="firstName" type="text" class="form-control">
  </div>
  <div class="form-group"></div>
  <label>lastName </label>
  <input formControlName="lastName" type="text" class="form-control">
  <div class="form-group"></div>
  <button class="btn btn-primary" type="submit">Register</button>
  
</form>
</div>
{{registrationForm.value | json }} -->
<router-outlet></router-outlet>
<nav >
  <a routerLink="/main"></a>
  <div class="col-md-4">
  <p><button   mat-raised-button color="accent" (click)="getAllData()">Records</button></p> 
</div>
</nav>
 
